<!-- THIS IS A DROP DOWN NAV BAR FUNCTION-->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </li>
  <!-- THIS IS A DROP DOWN NAV BAR FUNCTION-->
  
  <!-- THIS IS A FORM EXAMPLE-->
  <div class="col-md-4 position-relative">
    <label for="validationTooltipUsername" class="form-label">Email Address</label>
    <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
        Please choose a unique and valid username.
        </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Password</label>
      <input type="text" class="form-control" id="validationTooltip05" required>
      <div class="invalid-tooltip">
          Please choose a long password containing letters, numbers, and characters.
      </div>
      </div>
      <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
  <!-- THIS IS A FORM EXAMPLE-->
    