{% extends "components/NavBar.html" %}{% block title%} Sign In {% endblock  %}

{% block head %} {% endblock %}

{% block content %}

{% load static %}

<div class="text-center">
    <img class="image-fluid" src="{% static 'my_thesis/images/home/LogoHydroFlow.svg' %}" alt="HydroFlow Logo" width="400" height="300">
</div>
<p> Sign in with your HydroFlow account </p>
            <form class="row g-3 needs-validation" novalidate>
                <div class="position-relative">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address" required>
                  </div>
                  <div class="position-relative">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password" required>
                  </div>
                  <p><a href="{% url 'SignUp' %}" class="link-primary link-offset-2 link-underline link-underline-opacity-0">Don't have an account yet? Sign Up</a></p>
                  <a class="btn btn-primary" href="#" role="button">Sign In</a>
            </form>


{%endblock%}